@(employees: List[Employee], employeeForm: Form[Employee], performer: User)

@import helper._

@main("Employees", performer) {

@employees.size() employees(s)<br>

<ul>
    @for(employee <- employees) {

    <li>
        <a href="/employee/@employee.id">@employee.firstName @employee.lastName</a>

        @form(routes.Employees.deleteEmployee(employee.id)) {
            <input type="submit" value="Fire!">
        }
    </li>
    }
</ul>



    <h2>Add a new employee</h2>

    @form(routes.Employees.createEmployee()) {

    @inputText(employeeForm("firstName"))
    @inputText(employeeForm("lastName"))
    @inputText(employeeForm("homeAddress"))
    @inputText(employeeForm("mailAddress"))
    @inputText(employeeForm("employmentDate"))
    @inputText(employeeForm("salary"))
    @inputText(employeeForm("comments"))

    <input type="submit" value="Create">

    }


}