@(title: String, performer: User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
        <dl id="user">
            <dt>@performer.name <span>(@performer.email)</span></dt>
            <dd>
                <a href="@routes.Application.logout()">Logout</a>
            </dd>
        </dl>
    </header>

    <section id ="menu">
        <a href="@routes.Employees.employees" ><span>My Employees</span></a>
        @if(performer.isAdmin) {
        <a href="@routes.Users.users" ><span>Users</span></a>
        }
    </section>
        @content
    </body>
</html>
