@(title: String, performer: User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/myMain.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    <header>
        <dl id="user">
            <dt>@performer.name <span>(@performer.email)</span></dt>
            <dd>
                <a href="@routes.Application.logout()">Logout</a>
            </dd>
        </dl>
    </header>
    <nav>
        <ul id="projects">
            <a href="@routes.Employees.employees" ><span>My Employees</span></a>
        </ul>
        <ul id="users">
            @if(performer.isAdmin) {
            <a href="@routes.Users.users" ><span>Users</span></a>
            }
        </ul>
    </nav>
        @content
    </body>
</html>
