@(users: List[User], userForm: Form[User], user: User)

@import helper._

@main("Users", user) {

<h1>Users</h1>

<ul>
    @for(user <- users) {
    <li>
        <a href="/user/@user.email">@user.name</a>

        <div class="buttons">
            @form(routes.Users.deleteUser(user.id)) {
                <input type="submit" value="Delete">
            }
        </div>
    </li>
    }
</ul><br>

@form(routes.Users.createUser()) {
    <h1>Add a new user</h1>
    @inputText(userForm("name"))
    @inputText(userForm("email"))
    @inputText(userForm("password"))

    <input type="submit" value="Create">
}

}